/* nanor code / section */
*{
    margin: 0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
  
  }
  
  .footer {
    margin-top: 100px;
    width: 100%;
    padding: 100px 15%;
    background: #7f5539;
    color: white;
    display: flex;
  
  }
  
  .footer div{
    text-align: center;
  
  }
  
  .column2 {
    flex-grow: 2;
  
  }
  
  .footer div h2 {
    font-weight: 300;
    margin-bottom: 30px;
    
  }
  
  .column1 a{
    display: block;
    text-decoration: none;
    color:white;
    margin-bottom: 10px;
  
  }
  
  form input {
    width: 400px;
    height: 45px;
    border-radius: 4px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    outline: none;
    border: none;
  }
  
  form button {
    background: transparent;
    border: 2px solid white;
    color: white;
    border-radius: 30px;
    padding: 10px 30px;
    font-size: 15px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #ddb892;
  }
  
  .maps div{
    margin-top: 10px;
    margin-bottom: 10px ;
    border: 10px;
    border-radius: 50px;
  
  }
  
  .column1 a:hover{
    color:#ddb892;
  }